body{
  margin:none;
}
#div{
  background: url("https://media.istockphoto.com/photos/shadow-of-man-wearing-a-heros-cape-picture-id1279024640?k=20&m=1279024640&s=612x612&w=0&h=dvSPKHIt0JGiuMPvpLA05oAFHDuMtTi4Ezmyp0bE0Y4=");
  background-position: center;
  height:auto;
  width:80%;
  margin-left: auto;
  margin-right: auto;

}
#form{
position: relative;
/* margin-bottom: 50px; */
padding-left: 0.1rem;
border-radius: 10px;
color:black;
font-weight: bolder;

}
#avatar_image,#first_name,#last_name,#avatar_email{
  width:50%;
  margin-left: 10%;
}
#first_name,#last_name{
  margin-left: 12%;
}
#avatar_email{
  margin-left: 15%;
  
}
#add_avatar{
  display: inline-block;
  padding: 15px 25px;
  
  font-size: 24px;
  cursor: pointer;
  width:60%;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: tomato;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
input[type=submit]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

