body{
    margin:none;
    background-color: #f1f1f1;;
}
header{
    
   
   padding-bottom: 20px;
   padding-top: 0;
     text-align: center;
     margin: 0;
     margin-bottom: 1rem;
     border-radius: 3em;
     
 }
 #header{
    background-color:rgba(241, 241, 241, 0);
    box-shadow: 2px 2px 2px rgb(122, 175, 219); ;
 }
 .companyName{
    font-weight: bolder;
    color: green;
 }
 .fName{
   font-weight: bolder;
   color:rgba(40, 10, 158, 0.988);
 }